<script type="text/javascript" charset="utf-8">
//<![CDATA[
  var MyWeeklyTimeEntry = {
    validateTimeForm: function() {
      if( $('#entry_project').val() &&
          $('#entry_issue').val() &&
          $('#entry_activity').val() &&
          $('#entry_hours').val() &&
          $('#entry_comment').val()) {
            return true;
      } else {
        return false;
      }
    },
    clearTimeForm: function() {
      $('#entry_hours').val('');
      $('#entry_comment').val('');
    },
    deleteTime: function(id, event) {
      event.preventDefault();
      if (confirm('Are you sure?')) {
        $.post('<%=  url_for :action => 'delete_time' %>/' + id, {}, function(response){
          $('#time_entry_list').html(response);
        });
      }
      return false;
    },
    projectChanged: function() {
      prj_id = $('#entry_project').val();
      $.get('<%= url_for :action => 'project_tasks' %>/' + prj_id, function(response){
        $('#entry_issue').html(response);
      });
      return false;
    },
    submitTime: function() {
      if(this.validateTimeForm()) {
        $.post('<%=  url_for :action => 'submit_time' %>', $('#time_entry_form').serialize(), function(response){
          $('#time_entry_list').html(response);
          MyWeeklyTimeEntry.clearTimeForm();
        });
      } else {
        alert('Please fill out the form completly');
      }
      return false;
    }
  };
//]]>
</script>

<%= render :partial => 'navigation' %>
<div id="time_entry_list">
<%= render :partial => 'entries' %>
</div>
<%= render :partial => 'enter' %>
<% content_for :sidebar do %>
    <%= render :partial => 'sidebar' %>
<% end %>
